{% extends 'laylay.html' %}
{% block content %}
    <div class="bg-dark text-white" style="min-height: 80vh;">
        <div style="padding-top: 180px; text-align: center;">

            {% if game.result == 2 %}
                <h3>승리하셨습니다</h3>
            {% elif game.result == 1 %}
                <h3>패배하셨습니다</h3>
            {% else %}
                <h3>무승부입니다</h3>
            {% endif %}

            <div style="padding-top: 10px;">
    <span>
        <button class="btn btn-danger" onclick="location.href='/dfs/'">
            더 대응하기
        </button>
    </span>
                <span>
        <button class="btn btn-danger" onclick="location.href='/'">
            홈으로
        </button>
    </span>
            </div>
        </div>
    </div>
{% endblock %}