{% extends 'laylay.html' %}

{% block content %}
    <div class="card text-white bg-dark border-light" style="min-height: 80vh;">

        <div class="card-body" style="text-align: center; padding-top: 160px;">
            <h1 class="card-title">게임 정보</h1>
            <hr/>
            <h4 class="card-text">
                {{ record.attacker }} :
                {% if record.atk == 0 %}
                    가위
                {% elif record.atk == 1 %}
                    바위
                {% else %}
                    보
                {% endif %}
                <br/>
                {{ record.defender }} :
                {% if record.dfs == 0 %}
                    가위
                {% elif record.dfs == 1 %}
                    바위
                {% elif record.dfs == 2 %}
                    보
                {% else %}
                    ??
                {% endif %}
                <br/>
                {% if record.result == 1 %}
                   결과 :   승
                {% elif record.result == 2 %}
                   결과 :  패
                {% elif record.result == 3 %}
                   결과 :  무
                {% endif %}
            </h4>
        </div>
    </div>
    <br/>
    <a class="btn btn-outline-light" href="{% url 'game:record_list' %}" role="button">돌아가기</a>
{% endblock %}